/*          made_to_order:      ;*/
.order_container{
    width: 100%;
}
.banner>img{
    width: 100%;
}
.banner{
    position: relative;
}
.banner_text{
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-family: monospace;
    letter-spacing: 3px;
    font-size: 1rem;
    
}
.banner_text p:first-child{
    font-family: "Playfair Display",serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 16px 0;
}
.order_outer{
    margin:  200px;
    text-align: center;
}
.order_outer h2{
    font-size: 2rem;
    letter-spacing: 5px;
    color: var(--color-primary);
}
.arrangement_inner{
    display: grid;
    grid-template-columns: repeat(2,1fr );
    align-items: center;
}
.arrangement_inner>img{
    justify-self: end;
    width: 300px;
}

.arrangement_inner>.order_text {
    text-align: start;
    font-size: 1rem;
}

.shape_inner{
    display: grid;
    grid-template-columns: repeat(4, calc((100% - 60px) / 4));
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
}

.order_item>img{
    width: 200px;

}
.arrangement,.shape,.bullion,.combination,.gems{
    margin: 180px 0;
}

.bullion_inner{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 40px) / 3));
    gap: 20px;
}
.bullion_inner>img{
    width: 500px;
}
div[class$="inner"],h2+p{
    font-size: 1rem;
    font-family: monospace;
    letter-spacing: 3px;
}

.texture_inner{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, calc((100% - 60px) / 4));
    gap: 20px;
}
.combination_inner{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 40px) / 3));
    gap: 20px;
}
.gems_inner{
    display: grid;
    grid-template-columns: repeat(2,1fr );
    align-items: center;
    justify-items: center;
    margin: 0 25px;
    margin-top: 80px;
    gap: 10px;
}
.gems_inner>img{
    width: 550px;
    border-radius: 30px;
}
.gems .stones{
    display: grid;
    width: 600px;
    grid-template-columns: repeat(3,calc((100% - 20px) / 3));
    gap: 10px;
}
.gems .stones .stone_item{
    display: flex;
    width: 100%;
    align-items: center;
    border: #ccc 1px solid;
    border-radius: 10px;

}
.gems .stones .stone_item>img{
    width: 30%;
    border-radius: 50%;

}
.gems .stones .stone_item:hover >img{
    animation: clock infinite 3s linear;
}
.gems .stones .stone_item div{
    width: 100%;
    color: #000;
    font-size: 1rem;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.gems .stones .stone_item i{
    margin-right: 5px;
    color: #ccc;
    font-size: 1.2rem;
}

.motif_inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
    margin-top: 80px;
}

.motif_inner>img{
    width: 550px;
    border-radius: 30px;
    margin-left: 25px;
}

.atelier{
    position: relative;
}
.atelier{
    padding: 0 100px 100px 100px;
    display: flex;
    flex-direction: column;
    align-items:center ;
    position: relative;
}
.atelier img{
    width: 90%;
}
.atelier>button{
    background-color: #183165;
    border: none;
    color: #fff;
    border-radius: 5px;
    width: 100px;
    padding: 1%;
    cursor: pointer;
}

.reserve_container{
    width: 600px;
    height: 650px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    /* transform: translateY(); */
    background-image: url(../img/wallpaper2.png);
    padding: 30px;
    border-radius: 20px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    z-index: 55;
}
.reserve_show{
    opacity: 1;
    pointer-events: auto;
}
.reserve_container>h2{
    text-align: center;
    color: var(--color-primary);
}

.cancel_btn{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 25px;
    color: var(--color-primary);
}
.reserve_form{
    position: relative;
}
.reserve_form >div[class^="map"] {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
}
.reserve_form .map_tpe.tpe_show,.reserve_form .map_tph.tph_show{
    opacity: 1;
}

input[type="radio"],input[type="checkbox"]{
    display: none;
}

input[type="radio"]+label,select,input[type="date"],.submit{
    color: #fff;
    display: inline-block;
    background-color: var(--color-primary);
    cursor: pointer;
    padding: 10px;
    transition: .3s;
    border: none;
}
.submit{
    width: 100%;
    border-radius: 10px;
}

input[type="radio"]+label:hover,input[type="radio"]:checked +label,.submit:hover
{
    color: var(--color-primary);
    background-color: #fff;
}

input[type="text"],input[type="tel"]{
    display: block;
    box-sizing: border-box;
    background-color: rgb(240, 229, 214); 
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 0;
    border-bottom: 5px solid var(--color-primary);
    font-size: 18px;
    outline: none;
}
.fullname{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.lastName,.firstName{
    width: 80%;
}

input[type="date"]{
    width: 200px;
}
.reserve_container>p, label[for="phone"],label[for="lastName"],label[for="firstName"]{
    display: block;
    margin: 16px 0;
}

@keyframes clock {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media screen and (max-width:1600px) {
    .gems_inner{
        display: grid;
        grid-template-columns: repeat(1,1fr );
    }
}
@media screen and (max-width:1200px) {
    .order_outer{
        margin:  120px;
    }
    .texture_inner{
        grid-template-columns: repeat(3, calc((100% - 40px) / 3));
    }
    .arrangement_inner {
        grid-template-columns: none;
        grid-template-rows: auto auto;
    }
    .arrangement_inner > img {
        justify-self: center;
        /* width: 300px; */
    }
    .motif_inner>.order_text{
        grid-area: m1;
    }
    .motif_inner>img{
        grid-area: m2;
        margin: 0;
    }
    .motif_inner{
        grid-template-columns: none;
        grid-template-rows: auto auto;
        grid-template-areas:
        'm2'
        'm1';
    }
    .arrangement_inner .order_text{
        text-align: center;
    }
}
@media screen and (max-width:992px) {
    .shape_inner{
        grid-template-columns: repeat(2, calc((100% - 20px) / 2));
        margin: 0 100px;
        margin-top: 80px;
    }
    .order_outer{
        margin:  15px;
    }
    .gems_inner>img,.motif_inner>img{
        /* width: 400px; */
        margin: 10px;
    }
}
@media screen and (max-width:768px) {
    .order_container{
        /* width: 100%; */
        margin: 0;
    }
    .banner>img{
        height: 600px;
        object-fit: cover;
    }
    .banner_text{
        right: 8%;
        font-size: 0.95rem;
    }
    .banner_text p:first-child{
        font-size: 1.5rem;
    }
    .shape_inner{
        margin: 0;
        margin-top: 80px;
    }
    .bullion_inner,.texture_inner{
        grid-template-columns: repeat(2, calc((100% - 20px) / 2));
    }
    
    .gems_inner{
        margin: 0;
        margin-top: 80px;
    }
    .gems_inner>img,.motif_inner>img{
        margin: 10px;
    }
    .gems_inner>img,.gems .stones,.motif_inner>img{
        width: 430px;
        /* border-radius: 30px; */
    }
    .atelier img {
        width: 130%;
    }
    .atelier > button {
        line-height: 35px;
    }
    .combination_inner{
        grid-template-columns: repeat(2, calc((100% - 20px) / 2));
    }
    
    /* 表單 */
    .reserve_container{
        width: 450px;
        height: 760px;
        opacity: 0;
        pointer-events: none;

    }
    .reserve_show{
        opacity: 1;
        pointer-events: auto;
    }
    .reserve_container>h2{
        font-size: 1.5rem;
        margin: 0;
    }
    .reserve_form >div[class^="map"] {
        position: static;
        display: none;
    }
    .reserve_form .map_tpe.tpe_show,.reserve_form .map_tph.tph_show{
        /* opacity: 1; */
        display: block;
        margin-top: 5px;
    }
    
    .reserve_form>p, label[for="phone"],label[for="lastName"],label[for="firstName"]{
        margin: 8px 0;
    }
}