:root{
    --color-primary:#183165;
    /* var(--color-primary) */
    /* var(--color-secondary) */
    --color-secondary:#e6dac0;
}
body{
    background-image: url(../img/wallpaper2.png);
}
body header{
    background-image: none;
    height: 70px;
}
.container{
    height: 70px;
    background-image: url(../img/wallpaper.webp);
    position: fixed;
}
.breadcrumb{
    color: #183165;
    display: flex;
}
.breadcrumb a{
    color: #183165;
}
.breadcrumb a:hover{
    border-bottom: #183165 1px solid;
}
.breadcrumb li:first-child:after{
    content: '\00A0\00A0/\00A0\00A0';
}
.common_container{
    /* width: 85%;
    margin: 0 auto;
    box-sizing: border-box; */
}
.common_wrapper{
    /* display: grid;
    grid-template-columns: 25% 75%; */
}
.sidebar{
    background-image: url(../img/wallpaper.webp);
    border-radius: 0 20px 0 0;
    height: 95%;
}

/* .sidebar li:nth-child(2) a, */
.sidebar li:hover a{
    background-color: #fff;
    color:#183165;
}
.common_wrapper .sidebar a{
    color: #fff;
    display: block;
    padding: 10px 0;
    padding-left: 10px;
}
.common_wrapper .product a,
.common_wrapper .product .product_item>p{
    color:#183165;
}
.common_wrapper .product a:hover{
    text-shadow: 2px 2px 5px #ffffff;
}
.common_wrapper .product .product_item>p::before{
    content: 'NT';
}
/* 各個產品添加hover時效果 */
.product_item .img_wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;

    overflow: hidden;
}

.product_item .img_wrapper::before,
.product_item .img_wrapper::after{
    content: '';
    width: 25%;
    height: 30%;
    background-color: #183165;
    opacity: 1;
    position: absolute;
    transition: 1s;
}
.product_item .img_wrapper::before{
    right: 0;
    top: 0;
    border-radius: 0 15px 0 100%;
}
.product_item .img_wrapper::after{
    left: 0;
    bottom: 0;
    border-radius: 0 100% 0 15px;
}
.product_item .img_wrapper:hover:before,
.product_item .img_wrapper:hover:after{
    width: 150%;
    height: 150%;
    opacity: 0.1;
    /* border-radius: 15px; */

}
.addcart_btn{
    background-color: #183165;
    width: 50%;
    line-height: 50px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    bottom: 0%;
    /* transform: translateX(-50%); */
    transform: translate(-50%,100%);
    color: #fff;
    /* opacity: 0; */
    transition: all .5s;
    text-shadow: none;
    z-index: 5;


}
.addcart_btn:active{
    transform:translateX(-50%) scale(0.93);
}

.product_item .img_wrapper:hover .addcart_btn{
    opacity: 1;
    transform: translate(-50%,-100%);

}
.sidebar,.product{
    padding: 20px;
}
.product_item{
    width: 100%;
    max-width: 100%;
}
.common_container .product{
    display: grid;
    /* 三列和兩個 gap，所以總共需要減去 40px (20px * 2)。 */
    grid-template-columns: repeat(3, calc((100% - 50px) / 3));
    gap: 25px;
    text-align: center;
}

.product .product_item .pd_img{
    width: 100%;
    max-width: 100%
}
/* 頁碼 */
.product_page{
    display: flex;
    grid-column: -4/-1;
    justify-content: end;
}
.product_page>li>a{
    font-size: 1.5rem;
    padding: 5px 10px;
    margin: 0 10px;
}
.product_page>li:first-child a{
    border-bottom: 2px solid #183165;
}
@media screen and (max-width:1400px) {
    .common_container{
        width: 90%;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .common_wrapper{
        display: grid;
        grid-template-columns: 30% 70%;
    }
    .common_container .product{
        display: grid;
        /* grid-template-columns: repeat(2, 1fr) !important; */
        grid-template-columns: repeat(2, calc((100% - 25px) / 2));
    }
    .product_page{
        display: flex;
        grid-column: -3/-1;
        justify-content: end;
    }
    
}
@media screen and (max-width:992px) {
    .common_wrapper{
        display: grid;
        grid-template-columns: 40% 60%;
    }
    .common_container .product{
        display: grid;
        /* grid-template-columns: repeat(2, 1fr) !important; */
        grid-template-columns: 1fr;
    }
    .product_page{
        display: flex;
        grid-column: -2/-1;
        justify-content: end;
    }
    
}