:root{
    --color-primary:#183165;
    /* var(--color-primary) */
    /* var(--color-secondary) */
    --color-secondary:#e6dac0;
}
.reserve_container{
    width: 600px;
    height: 650px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0%;
    transform: translateY();
    background-image: url(../img/wallpaper2.png);
    padding: 30px;
    border-radius: 20px;
    opacity: 1;
    pointer-events: none;
    transition: opacity .5s;
    z-index: 55;
}
.reserve_show{
    opacity: 1;
    pointer-events: auto;
}
.reserve_container>h2{
    text-align: center;
    color: var(--color-primary);
}

.cancel_btn{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 25px;
    color: var(--color-primary);
}
.reserve_form{
    position: relative;
}
.reserve_form >div[class^="map"] {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
}
.reserve_form .map_tpe.tpe_show,.reserve_form .map_tph.tph_show{
    opacity: 1;

}

input[type="radio"],input[type="checkbox"]{
    display: none;
}

input[type="radio"]+label,select,input[type="date"],.submit{
    color: #fff;
    display: inline-block;
    background-color: var(--color-primary);
    cursor: pointer;
    padding: 10px;
    transition: .3s;
    border: none;
}
.submit{
    width: 100%;
    border-radius: 10px;
}

input[type="radio"]+label:hover,input[type="radio"]:checked +label,.submit:hover
{
    color: var(--color-primary);
    background-color: #fff;
}

input[type="text"],input[type="tel"]{
    display: block;
    box-sizing: border-box;
    background-color: rgb(240, 229, 214); 
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    border: 0;
    border-bottom: 5px solid var(--color-primary);
    font-size: 18px;
    outline: none;
}
.fullname{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.lastName,.firstName{
    width: 80%;
}

input[type="date"]{
    width: 200px;
}
.reserve_container>p, label[for="phone"],label[for="lastName"],label[for="firstName"]{
    display: block;
    margin: 16px 0;
}



@media screen and (max-width:768px) {
    /* 表單 */
    .reserve_container{
        width: 450px;
        height: 760px;
        opacity: .8;
        pointer-events: none;

    }
    .reserve_show{
        opacity: 1;
        pointer-events: auto;
    }
    .reserve_container>h2{
        font-size: 1.5rem;
        margin: 0;
    }
    .reserve_form >div[class^="map"] {
        position: static;
        display: none;
    }
    .reserve_form .map_tpe.tpe_show,.reserve_form .map_tph.tph_show{
        /* opacity: 1; */
        display: block;
        margin-top: 5px;
    }
    
    .reserve_form>p, label[for="phone"],label[for="lastName"],label[for="firstName"]{
        margin: 8px 0;
        /* background-color: yellowgreen; */
    
            /* background-color: yellowgreen; */
    }
}