body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    /*防止左右滾動*/
    overflow-x: hidden; 
    /* background-image: url(../img/wallpaper.webp); */

}
.black_overlay{
    width: 100vw;
    height: 100vh;
    background-color: #0000009a;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    display: none;
}
:root{
    --color-primary:#183165;
    /* var(--color-primary) */
    /* var(--color-secondary) */
    --color-secondary:#e6dac0;
}
ul,li{
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
}
.menu_btn{
    display: none;
}
h1,ul{
    margin: 0;
}
header{
    height: 105vh;
    width: 100%;
    background: url(../img/bg-ring01.jpg)
    center no-repeat fixed;
    background-size: cover;
    position: relative;
}
.container{
    width: 100%;
    display: flex;
    z-index: 20;
    align-items: center;
    position: relative;
}
/* 有sidebar的容器 */
.common_container{
    width: 85%;
    margin: 0 auto;
    box-sizing: border-box;
}
.common_wrapper{
    display: grid;
    grid-template-columns: 25% 75%;
}
ul.sidebar a.sidebar_select{
    color: var(--color-primary);
    background-color: #fff;
}

/* 共用麵包屑 */
.breadcrumb{
    color: #183165;
    display: flex;
}
.breadcrumb a{
    color: #183165;
}
.breadcrumb a:hover{
    border-bottom: #183165 1px solid;
}
.breadcrumb li:first-child:after{
    content: '\00A0\00A0/\00A0\00A0';
}

/*跳出廣告圖*/
.advertise{
    position: fixed;
    z-index: 51;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 800px;
    height: 400px;
    aspect-ratio:2/1;
    background: url(../img/advertise.jpg);
    background-size: cover;
    display: none;
}
.cancel_btn{
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    font-size: 25px;
    color: #fff;
}

.menu{
    position: relative;
    height: 45px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.menu_link{
    position: relative;
    display: flex;
    justify-content: end;
    height: 100%;
    text-align: center;
/********/
    width: 650px;

}
.menu_link .flex-1{
    flex-basis: calc(100%/5);
}

.container a>.logo{
    height: 70px;
    filter: brightness(1) invert();
    z-index: 6;
    position: relative;
}
.social_icon,.menu_link{
    display: flex;
    /* font-size: 18px; */
    z-index: 10;
    letter-spacing: 1.5px;
    line-height: 45px;
    transition: .3s;
    pointer-events: auto;

}

.menu .social_icon a{
    margin: 0 10px;
    color: #e6dac0;
    transition: .3s;
}
.menu .social_icon a:hover{
    /* background-color: transparent; */
    color: var(--color-secondary);
    font-weight: bold;
    font-size: 1.8rem;
    text-shadow: 0 0 2px var(--color-primary);
}
.menu_link li a{
    position: relative;
    display: block;
 
    transition: .2s;
}


.menu_link .flex-1>a:hover{
    background-color: #e6dac0;
    color: #183165 ;
}
.menu_link .dropdown_link{
    margin: 0 ;
    position: relative;
}
/* product下拉 */
.menu_link .dropdown_link .dropdown{ 
   
    transform: scaleY(0);
    /* transition: transform .3s; */
    transform-origin: 50% 0;
    cursor: pointer;

    /***************/
    width: 250%;
    text-align: left;
}
.menu_link .dropdown_link:hover > ul.dropdown{
    transform: scaleY(1); 

}
/* 下拉hover */
.dropdown .dropdown_item{
    margin-bottom: 5px;
    /* border-radius: 10px; */
    background-color: rgba(24, 48, 101, 0.4);
    backdrop-filter: blur(10px);
}
.dropdown .dropdown_item>a{
    padding-left: 10px;
}
ul.dropdown .dropdown_item:hover{
    background-color: #fff;
    text-shadow: 0 0 3px #13254d,
    0 1px 5px var(--color-primary) ;
    font-weight: bold;
    letter-spacing: 2.5px;
    opacity: .9;
    border:1px solid #ccc;
}

.banner_left{
    width: 60vw;
    height: 105vh;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    clip-path: polygon(0 0 ,100% 0,70% 100%, 0 100%);
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.5));
    position: absolute;
    /* position: relative; */
    top: 0;
    left: 0;
    transition: 1s;
}
.banner_left::before{
    content: 'TWENTY';
    font-size: clamp(3.5rem,11vw ,12rem);
    text-shadow: 0 0 10px #fff;
    font-weight: bold;
    position: absolute;
    top: 18%;
    right: 15%;
    color: #fff;
    transition: 1s;
    animation-name: text-ltr;
    animation-duration: 2s;
}
.banner_left>h1{
    background-image: url(../img/bg-ring02.jpg);
    background-size: cover;
    background-position:50% 10%;
    background-repeat: no-repeat;
    color: transparent;
    background-clip: text;
    font-size: clamp(3.5rem,11vw ,12rem);
    position: absolute;
    top: 18%;
    right: 15%;
    transition: 1s;
    animation-name: text-ltr;
    animation-duration: 2s;
}
h1.banner_right{
    font-size: clamp(3.5rem,11vw ,12rem);
    position: absolute;
    top: 48%;
    right: 25%;
    color: #fff;
    text-shadow: 3px 3px 15px rgb(53, 53, 53);
    transition: 1s;
    animation-name: text-rtl;
    animation-duration: 2s;
}

p.banner_text{
    font-family: "Playfair Display", serif;
    font-size: clamp(1rem,12vw,2rem);
    position: absolute;
    text-shadow: 1px 2px 8px rgb(26, 25, 25);
    z-index: 2;
    color:rgb(24, 49, 101);
    color:rgb(255, 255, 255);
    right: 4%;
    bottom: 3%;
}


/* carousel */
.carousel{
    /* padding-bottom: 100px; */
    position: relative;
    background-image: url(../img/wallpaper2.png);
    background-color: #fff;
    width: 100%;
    aspect-ratio:2.6/1;
    
}
.carousel img{
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: opacity .5s ease-in-out;
}
.carousel img.active{
    opacity: 1;

}
.carousel_nav a.cs_nav_item{
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #183165;
    transform: rotate(45deg);
    margin: 3px;
}
.carousel_nav{
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translateX(-50%);
}

/*product_slide*/
.home_product{
    height: 800px;
    background-color: tomato;
    background-color: #183165;
    background-color: #fff;
    background-image: url(../img/wallpaper.webp);
    text-align: center;
    position: relative;
    overflow: hidden;
}
.home_product>h2{
    margin: 0;
    padding-top: 50px;
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: 1.8px;
    text-shadow: 2px 2px 5px #dddddd;

    
}
.home_product_container{
    width: 2000px;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-55%); 
}
.home_product_wrapper{
    width: 100%;
    height: 100%;
    margin: 50px 0;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: #183165;;
    background-color: transparent;
    transition: transform .5s ease-in-out;
}

.home_product_slide{
    /* display: block; */
    /* aspect-ratio:2/1; */
    width: 350px;
    height: 350px;
    margin: 50px;
    background-color: #c4b19b;
    background-color: transparent;
    /* filter: blur(2px); */
    /* backdrop-filter: blur(30px); */
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.60);;
    border-radius: 30px;

    box-shadow: 0 0 15px #797979;
    z-index: 1;
    flex-shrink: 0;
    filter: brightness(0.6);
    transition: transform 0.5s ease-in-out ,filter 0.5s ease-in;
}
.home_product_slide.slide_active:hover{
    transform: translateY(-50px) scale(1.1);
}
.home_product_slide.slide_active{
    /* transform: translateY(-8%);  */
    transform: translateY(-50px) ;
    filter: brightness(1);

}

a.product_item_link{
    /* width: 100%; */
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#fff;
    z-index: 2;
    text-decoration: none;
    position: relative;


}
.home_product a .home_product_img{
    width: 85%;
    position: relative;
}
.home_product a .home_product_img>img{
    margin-top: 20px;
    width: 100%;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 15px #adadad;

    left: 0;
    top: -120px;
}

.product_item_txt{
    width: 100%;
    height: 100px;
    /* border-radius: 50px 0 50px 0; */
    position: absolute;
    bottom: 3%;
    letter-spacing: 0.15rem;
    /* background-color: tomato; */
    /* width: 100%; */
}
.product_item_txt p{
    margin: 0;
    padding: 5px 0;
    text-shadow: 2px 2px 5px #333;

}
button[class^="btn"]{
    /* width: 50px; */
    /* height: 50px; */
    border: 0;
    background-color: transparent;
    top: 50%;
    /* box-shadow:1px 1px 10px #333; */
    position: absolute;
    transition: .5s;
    height: 0px; 
    padding: 0;
}
button.btn-prev i.fa-solid.fa-caret-left,
button.btn-next i.fa-solid.fa-caret-right
{
    font-size: 6rem;
    cursor: pointer;
    color: #fff;
    text-shadow: 0px 0px 10px #bbbbbb ,0px 0px 7px #fff;

    
}
button[class^="btn"]:hover {
    transform: translateY(5px);
  

}
button.btn-prev{
    left: 36.5%;
}
button.btn-next{
    right: 36.5%;
}
/* designlist */
.design_container{
    /* padding: 35px 0; */
    background-image: url(../img/wallpaper2.png);
    width: 100%;
    text-align: center; 
    padding-bottom: 50px;
}
.design_banner{
    position: relative;
    width: 100%;
    transition: 5s;
    opacity: 0;
}
.design_text{
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-family: monospace;
    letter-spacing: 3px;
    font-size: 1rem;
    /* font-weight: bold; */
    text-shadow: 0 1px 5px #000;
    
    
}
.design_text p:first-child{
    font-family: "Playfair Display",serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 16px 0;
}
.design_container>h2 ,
.atelier>h2,
.article_container>h2{
    padding: 35px 0;
    color: #183165;
    padding-bottom: 40px;
    font-size: 2.5rem;
    letter-spacing: 1.8px;
    text-shadow: 2px 2px 8px #ffffff;
}
.designlist{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    width: 70%;
    margin: 0 auto; 
    transition: 2s ease-in;
    transform: translateY(300px);
    opacity: 0;
}
.design_content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.designlist>li>a>img{
    width: 100%;
    transition:1s;
    box-sizing: border-box;
}
.designlist .design_item {
    position: relative;
    width: 100%;
    height: 100%;
    /* filter: brightness(0.7); */
    transition:1s;
    overflow: hidden;
    border-radius: 30px;
}
.designlist .design_content>img{
    filter: brightness(0.7);

}
.designlist .design_item:hover img{
    filter: brightness(1);
}
.designlist .design_item:hover a>img{
    transform: scale(1.3) rotate(-10deg);
}

.designlist .design_item .design_txt {
    position: absolute;
    text-shadow: 0px 0px 5px #464646,1px 1px 5px #cacaca;
    text-align: center;
}
.design_txt>p{
    margin: 1rem 5rem;

}
.design_txt>p:first-child{
    font-size: 2rem;
}
.article_wraaper{
    display: grid;
    padding: 0 100px 50px 100px;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
}
.article img{
    width: 100%;
    cursor: pointer;
    /* animation: test 1s ease-in; */
}
.article{
    opacity: 0;
}
.article p{
    font-size: 1.2rem;
}
.article a{
    color: var(--color-primary);
    font-size: 1.2rem;
    font-weight: bold;

}
.article:hover a{
    text-shadow: 2px 2px 5px #ffffff;
}
.article_container .more_btn{
    width: 200px;
    line-height: 50px;
    border-radius: 30px;
    display: block;
    background-color: var(--color-primary);
    color: #fff;
    margin: 0 auto;
    border: 1px solid #aaa;
    cursor: pointer;
    
}
.article_container .more_btn>i {
    transition: .5s;
}
.article_container .more_btn::before{
    content: 'MORE ';
}
.article_container .more_btn:hover i{
    transform: translateX(30px);
}

    
@keyframes text-ltr {
    0%{
        opacity: 0;
        transform: translateX(-130%);
    }
    100%{
        opacity: 1;
        /* transform: translateX(50%); */
        transform: translateX(0);
    }
}
@keyframes text-ltr2 {
    0%{
        opacity: 0;
        transform: translate(-110%,60%);
        /* transform: translate(-100%,-60%); */
    }
    100%{
        opacity: 1;
        transform: translate(10%,60%);
    }
}
@keyframes text-rtl {
    0%{
        opacity: 0;
        transform: translateX(200%);
    }
    100%{
        opacity: 1;
        /* transform: translateX(50%); */
        transform: translateX(0);
    }
}
@keyframes text-rtl2 {
    0%{
        opacity: 0;
        transform: translate(100%,-65%);
    }
    100%{
        opacity: 1;
        /* transform: translateX(50%); */
        /* transform: translate(-20%,-65%); */
        transform: translate(105%,42%);

    }
}

@media screen and (max-width:1600px) {
    .banner_left{
        clip-path: polygon(0 0 ,95% 0,75% 100%, 0 100%);
        position: absolute;
        top: 0;
        left: 0;
    }
    .banner_left>h1,.banner_left::before{
        top: 22%;
    }
    .banner_left h1.banner_right{
        top: 45%;
        right: 21%;
    }
    button.btn-prev{
        left: 33%;
    }
    button.btn-next{
        right: 33%;
    }
}
@media screen and (max-width:1400px) {
    .banner_left{
        clip-path: polygon(0 0 ,95% 0,75% 100%, 0 100%);
    }
    .banner_left>h1,.banner_left::before{
        top: 24%;
    }
    button.btn-prev{
        left: 31%;
    }
    button.btn-next{
        right: 31%;
    }
    .menu .menu_link{ width: 600px; }
    .menu ul.menu_link .dropdown_link .dropdown{ 
        /* width: 210%; */
    }
    
}
   

@media screen and (max-width:1200px) {
    .designlist{
        /* display: grid; */
        grid-template-columns: repeat(2,1fr) ;
        animation-name: aaa;
        animation-duration: 2s;
        /* gap: 20px; */
        /* width: 70%; */
        /* margin: 0 auto;  */
    }
    button.btn-prev{
        left: 28%;
    }
    button.btn-next{
        right: 28%;
    }
    .article_wraaper{
        
        grid-template-columns: repeat(1,1fr);
        
        gap: 30px;
    }

}

@media screen and (max-width:992px) {
    .banner_left{
        clip-path: polygon(0 0 ,93% 0,93% 100%, 0 100%);
    }
    .banner_left>h1,.banner_left::before{
        top: 26%;
    }
    .banner_left h1.banner_right{
        top: 45%;
        right: 15%;
    }
    .fa-bars{
        transition: .5s;
        padding-right: 20px;
    }
    header nav.container .menu_btn{
        font-family: "Playfair Display", serif;
        font-weight: bold;
        letter-spacing: 3px;
        z-index: 10;
        display: block;
        position: fixed;
        text-align: end;
        right: 0;
        top: 0;
        font-size: 20px;
        color: #fff;
        width: 16%;
        line-height: 75px;
    } 
    .menu_btn>span{
        cursor: pointer;
    }
    
    header nav.container {
        /* position: relative; */
        position: fixed;
        /*********   加上背景   ***************/
        /* background-color: tomato; */
        height: 75px;

    }

    .menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: absolute;
        left: 0;
        top: 75px;
        z-index: 20;
        opacity: 0;
        transition: opacity .5s;
    }
    .menu .menu_link{
        order: 1;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        height: 300px;
        width: 300px;
        pointer-events: none;
    }
    .menu .social_icon{
        order: 2;
        pointer-events: none;
        margin: 0px 55px;
    }

    .flex-1{
        width: 300px;
    }
    .dropdown_link{
        position: relative;
    }
    
    ul.dropdown .dropdown_item{
        overflow: hidden;
    }
    /* 二級菜單 */
    .dropdown .dropdown_item>a{
        padding: 10px;
        border-radius: 0px;
        color: var(--color-primary);
        border-bottom: 1px solid #ffffff76;

    }
    .dropdown .dropdown_item:last-child>a{
        border-bottom: none;
    }
    ul.dropdown .dropdown_item:hover{
        background-color: rgba(255, 255, 255, 0.15);
        overflow: hidden;
        
    }
    /* 下拉選單 */
    ul.menu_link .dropdown_link .dropdown::before {
        content: '';
        position: absolute;
        top: 15px;
        left: -15px;
        border-top: 15px solid  transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid rgba(255, 255, 255, 0.7);
      }


    ul.menu_link .dropdown_link .dropdown{
        background-color: #ffffff35 ;
        border-radius: 0 20px 20px 0 ;
        border: 1px solid #fff;
        height: auto;
        
    }
    /* 二級菜單每個item */
    .dropdown .dropdown_item{
        background-color: transparent;
        border: none;
        border-radius: 0;
        color: var(--color-primary);
        box-shadow: none;
        margin: 0;
        
    }
    .dropdown .dropdown_item:first-child{
        border-radius: 0 20px 0 0 ;
    }
    .dropdown .dropdown_item:last-child{
        border-radius: 0 0 20px 0 ;
    }
   
    
    /* 直立nav */
    .menu ul.menu_link .flex-1>a:hover,
    .menu .social_icon li>a:hover{
        background-color: transparent;
        color: var(--color-secondary);
        font-weight: bold;
        font-size: 2.1rem;
        text-shadow: 0 0 2px var(--color-primary);
        
    }   
    .menu_link>li>a{
        padding: 10px 0;
        color: #183165;
        margin: 0 20px;
        margin-bottom: 10px;
        font-size: 2rem;
        transition: transform .3s;
    }
    .menu_link>li>a:active{
        transform: translate(2px ,2px);
        
    }
    .menu_link .dropdown_link .dropdown{
        height: 0;
        position: absolute;
        left: 100%;
        top: 0px;
        width: 100%;
        transform-origin: 0 0;
        transform: scale(0);
        /* overflow: hidden; */

    }
    .dropdown_link .dropdown .dropdown_item:hover a{
        text-shadow: 1px 1px 3px rgb(255, 255, 255);
    
    }
    .menu_toggle{
        height: 100%;
        opacity: 1;
        transform: scale(1);
        transition: all .5s; 
    } 
    /* 菜單背景 */
    .menu_bg{
        position: absolute;
        background: rgb(230,218,192);
        background: linear-gradient(165deg, rgba(230,218,192,1) 0%, rgba(24,49,101,1) 80%);
        /* backdrop-filter: blur(20px); */
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 5;
        height: 0vh;
        transition: height .5s ; 
        opacity: .98;
    }
    .menu_bg_show{
        height: 100vh;
    }
   
    .menu .social_icon a{
        margin: 0 10px;
        color: var(--color-primary);
    }
    .advertise{
        width: 500px;
        height: 250px;
    }
}

@media screen and (max-width:768px) {
    .banner_left{
        clip-path: none;
        width: 75vw;
        height: 70vh;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .banner_left>h1,.banner_left::before,.banner_left h1.banner_right{
        font-size: 7rem;
        right: auto;
    }
    
    p.banner_text{
        font-size: clamp(1rem,12vw,2rem);
        position: absolute;
        z-index: 3;
        color:#fff;
        font-weight: bold;
        text-shadow: 0px 0px 6px #fff;
        color:rgb(24, 49, 101);
        width: 60%;
        left: 50%;
        top: 60%;
        text-align: center;
        transform: translateX(-50%);
        transition: .5s;

    }
    .designlist{
        grid-template-columns: repeat(1,1fr) ;
    }
    .design_txt>p:first-child{
        font-size: 2.5rem;
    }
    header nav.container .menu_btn{
        width: 30%;
    } 
    button.btn-prev{
        left: 16%;
    }
    button.btn-next{
        right: 16%;
    }
}

@media screen and (max-width:576px) {
    
    .article_wraaper{
        padding: 0 50px 50px 50px;
    }
    .advertise{
        width: 400px;
        height: 250px;
    }

}